
body {
    background-color: rgb(226, 236, 228);
    margin-left: 15px;
   font-family: arial,verdana,sans-serif;
   font-size: 15px;
   color: black;
}

H1 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 36px;
   color: rgb(13, 84, 28);
}

H2 {
   font-family: arial,verdana,sans-serif;
   font-size: 20px;
   color: rgb(10, 55, 19);
}

P {
   font-family: arial,verdana,sans-serif;
   font-size: 15px;
   color: black;
}
