/* First Section */
.first-example-main-box {
    width: 1000px;
    display: flex;
    background-color: #FBFAF3;
    justify-content: space-between;
    padding: 80px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    font-family: "Manrope", sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    gap: 20%;
    padding-right: 20px;
}

.tagline {
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 35%;
    text-align: center;
    font-size: 12px;
}

.text {
    display: flex;
    flex-direction: column;
    line-height: 10px;
    justify-content: flex-end;
}

.subtitle {
    font-size: 22px;
}

.little-text {
    font-size: 12px;
}

.quote {
    line-height: 110%;
    font-size: 48px;
}


/* Second Section */
.second-example-main-box {
    width: 1000px;
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
    padding: 80px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    font-family: "Manrope", sans-serif;
    align-items: center;
    gap: 30px;
}

.our-services {
    font-size: 42px;
    align-items: center;
    justify-content: center;
}

.services {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.service img {
    width: 300px;
    height: 258px;
}

.service-text {
    font-family: "Manrope", sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 20px;
    width: 90%;
}

.service-title {
    font-size: 24px;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
